body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.5); 
    z-index: 1000; /* Placez la barre de navigation au-dessus de tout le contenu */
  }
  
  .logo {
    color: green;
    font-weight: bold;
  }
  
  .menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-right: 500px; /* Vous pouvez ajuster cette valeur selon vos préférences */
  }
  
  .menu li {
    margin-right: 20px;
  }
  
  .menu li a {
    color: black;
    text-decoration: none;
  }
  
  .icons {
    display: flex;
    align-items: center;
  }
  
  .search-icon, .cart-icon {
    font-size: 20px;
    color: white;
    margin-right: 10px;
  }
  
  .subscribe-btn {
    margin-right: 50px; 
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 32px;
    border-radius: 4px;
    cursor: pointer;
    height: 60px;
  }

  .btn {
    margin-right: 50px;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    height: 70px;
    width: 200px;
  }
  
  
  .content {
    margin-top: 60px; 
    padding: 20px;
  }

  .hero {
    display: flex;
    margin-top: 60px; 
    padding: 50px;
  }

  .main {
    background-color:rgb(199, 192, 192);
  }
  
  .container {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
  }
  
  .container.image-container {
    background-color: #f2f2f2;
  }
  
  .container.image-container img {
    max-width: 100%;
  }
  
  .hero h1, .hero h2 {
    margin-bottom: 20px;
  }
  
  .produits {
    display: flex;
    margin-top: 20px; 
    margin-bottom: 20px; 
    margin-left: 180px;
    margin-right: 180px;
  }
  
  .one, .two {
    border-radius: 10px; 
    border: 3px solid white; 
    margin: 0 10px; 
    padding: 50px; 
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  .one {
    width: 150px; 
    height: 250px; 
    background-color: #fff; 
    
  }
  
  .two {
    flex: 2; 
    width: 200px;
    height: 250px; 
    background-color: #fff; 
  }

  .image-box {
    align-items: center;
    justify-content: center;
    margin-top: -12px;

  }

 .two h4 {
    text-decoration: underline;
    color : burlywood;
    margin-top: -20px;
    margin-left: 70px;
 }

 .two p {
    margin-top: -10px;
    margin-left: 70px;
 }

 .two .image {
    height:10px;
    display: block;
    margin-top: -15px;
    margin-left: 70px;
 }


 .prcat {
    position: relative;
    
  }

.prtitle{
    color : green;
    text-align: center;
  }


  .p-box {

    display: flex; 
    justify-content: space-between; 

  }
  .produitsflex {
    display: flex;
    margin-top: 20px; 
    margin-bottom: 20px; 
    margin-left: 140px;
  }

  .pcat{
    border-radius: 10px; 
    border: 3px solid white; 
    margin: 0 30px; 
    padding: 40px; 
    width: 150px; 
    height: 250px; 
    background-color: #fff; 
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.5); 
    display: flex; 
    justify-content: space-between; 
  }

.three{
    width: 150px; 
    height: 250px; 
    background-color: #fff; 
    border-radius: 10px; 
    border: 3px solid white; 
    margin: -40px; 
    padding: 50px; 
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 70px;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.5); 
    display: flex; 


  }

  .three-box {
    align-items: center;
    justify-content: center;
    margin-top: -5px;

  }

  .produitsflex1 {
    margin-top: 20px; 
    margin-bottom: 20px; 
    margin-left: 140px;
  }
  .three1{
    width: 150px; 
    height: 250px; 
    background-color: #fff; 
    border-radius: 10px; 
    border: 3px solid white; 
    margin: -40px; 
    padding: 50px; 
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 70px;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.5); 


  }

  .three-box1 {
    align-items: center;
    justify-content: center;
    margin-top: -12px;

  }
  .six .image {
    align-items: center;
    justify-content: center;
    margin-top: -12px;
 }
 .add {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 40px;
    width: 100%;
}

.testimony {
    position: relative;
    
  }
  .testimony-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('testimony.jpg'); 
    background-size: cover;
    background-position: center;
    opacity: 5.9; 
    filter: brightness(0.5); /* Effet sombre */

    
  }
  .testimony-content {
    position: relative;
    z-index: 1;
    padding: 50px; 
    text-align: center;


  }
  
  .testimony-content h2 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  .testimony-content p {
    font-size: 1.2em;
  }
  
  .testimony-box {
    display: inline-block;
    margin: 5px; 
    border-radius: 10px; 
    overflow: hidden; /* Cacher le contenu débordant */
    background-color: rgba(255, 255, 255, 18); /* Couleur de fond avec opacité */
    padding: 20px; 
    width: 200px;
    height: 350px; 
  }
  
  .testimony-image {
    border-radius: 50%; /* Forme circulaire */  
    width: 100px; 
    height: 100px; 
  }
  .esv {
    display: flex; 
  }
  
  .column {
    flex: 1; /* La première colonne prendra autant d'espace que possible */
    padding: 10px; /* Espacement interne */
    background-color:rgb(199, 192, 192);

  }
  
  .sub-column {
    flex: 1; 
    padding: 10px; 
  }
  
  .imgp3 {
    display: flex;
    margin-top: 50px; 
    margin-bottom: 20px; 
    margin-left: 200px;
  } 
  .imgp1 {
    display: flex;
    margin-top: 50px; 
    margin-bottom: 20px; 
    margin-left: 50px;
  } 
  .imgp2 {
    display: flex;
    margin-bottom: 20px; 
    margin-left: 80px;
  }
  .newsletter {
    position: relative;
    padding: 50px;
    text-align: center;
    color: white;
    
  }
  
  .newsletter-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('p6.jpg'); 
    background-size: cover;
    background-position: center;
    opacity: 5.9; 
    filter: brightness(0.5); 
  }
  
  .newsletter-content {
    margin-top: 80px;
    margin-bottom: 50px; 
    position: relative;
  }

  .newsletter button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    width: 250px; 
    height: 50px; 
    border-radius: 5px;
  }

  .service {
    position: relative;
  }
  .service-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgb(199, 192, 192);

  }
  .service-content {
    position: relative;
    z-index: 1;
    padding: 50px; 
    text-align: center;
  }
  
  .service-content h2 {
    color: green;
    font-size: 2em;
    margin-bottom: 50px;
  }

  .service-box {
    display: inline-block;
    margin: 5px; 
    border-radius: 10px; 
    background-color: rgba(255, 255, 255, 18); 
    padding: 20px; 
    width: 200px;
    height: 300px;
  }
  .service-box h3 {
   color: green;
    
  }
  .service-image {
    width: 100px; 
    height: 100px; 
  }
  .formc {
    position: relative;
    padding: 50px;
    text-align: center;
    color: white;
    
  }
  .formc-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('p5.jpg'); 
    background-size: cover;
    background-position: center;
    opacity: 5.9; 
    filter: brightness(0.5); 
  }
  .formc-content {
    margin-top: 10px;
    margin-bottom: 50px; 
    position: relative;
  }



input[type="text"], input[type="email"], textarea 
{
  width: 50%;
  padding: 10px;
  box-sizing: border-box; /* Inclure la bordure et le rembourrage dans la largeur totale */
}

textarea {
  height: 150px; 
}

button[type="submit"] {
  width: 100%; /* Bouton occupant toute la largeur */
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  width: 50%;
  height: 50px; 
  border-radius: 5px;
}


.footer {
    text-align: center;
    padding: 50px;
  }
  
  .footer-background {
    background-image: url('testimony.jpg'); 
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden; 
  }
  
  .footer-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1; /* Placez le pseudo-élément au-dessus du contenu */
  }
  
  .footer-content {
    color: white;
    position: relative; /* Assurez-vous que le contenu est placé au-dessus du pseudo-élément */
    z-index: 2; 
  }
  
  .footer-section {
    width: 10%;
    display: inline-block;
    vertical-align: top;
    margin: 0 1%;
  }
  
  .footer-section h3 {
    font-size: 1.5em;
  }
  .footer-copyright {
    background-color:white;
    height: 25px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .footer-copyright p {
    color: black;
  }